<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>View Customer</title>
</head>
<body>
<h2>View Customer Detail</h2>
<hr/>
<table >
	<tr>
		<th>ID</th>
		<td th:text="${customerdt.custId}"></td>
	</tr>
	<tr>
		<th>CODE</th>
		<td th:text="${customerdt.custCode}"></td>
	</tr>
	<tr>
		<th>NAME</th>
		<td th:text="${customerdt.custName}"></td>
	</tr>
	<tr>
		<th>TYPE</th>
		<td th:text="${customerdt.custType}"></td>
	</tr>
	<tr>
		<th>NOTE</th>
		<td th:text="${customerdt.note}"></td>
	</tr>
	
</table>
</body>
</html>